body{
	font-family:'Roboto', sans-serif;
}
h1{
	text-align: center;
	color: teal;
	display: none;
}
#contenedor{
	/*background-color: red;*/
	width: 70%;
	margin-left: 15%;
}
#contenedor #buscar{
	display: block;
	width: 100%;
	margin: -10px auto 0px auto;
	border: none;
	box-shadow: 0px 0px 5px #BDBDBD;
	border-radius: 4px;
	height: 40px;
	padding: 10px;
	font-family:'Roboto', sans-serif;
	background-color: white;
}
#contenedor #buscar[placeholder]{
	text-align: justify;
	font-size: 30px;
}
#datos{
	width:70%;
	margin:0px auto;
	height: auto;
	z-index: 1000;
	position: fixed;
	margin-left:1%;
	background-color: white;
	box-shadow: 0px 0px 1px #BDBDBD;
}
#datos .nada{
	margin-top: 5px;
	width:70%;
	text-align: center;
	padding: 5px 10px;
	height: 30px;
	background-color: white;
	border-radius: 4px;
}
#contenedor #buscar:focus{
	/*border:none;*/
	box-shadow: 0px 0px 10px #BDBDBD;
}
#contenedor #buscar:hover{
	box-shadow: 0px 0px 10px #BDBDBD;
}
.no-datos{
	border-radius: 5px;
	height: 40px;
	padding: 5px;
	color: red;
	font-size: 20px;
}
.articulo{
	z-index: 1000;
	position: absolute;
}
.articulo article p{
	margin-top: 20px;
	text-align: justify;
}
